# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreInstaller@0
  inputs:
    packageType: sdk
    version: 3.0.100-preview3-010431  
- script: dotnet build --configuration $(buildConfiguration) --runtime win-x86
  displayName: 'dotnet build $(buildConfiguration)'
- script: dotnet publish --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory) --self-contained --runtime win-x86
  displayName: 'dotnet publish'
- task: PublishBuildArtifacts@1