name: Build and deploy image

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-16.04
    
    steps:
    - uses: actions/checkout@v1 
      with:
        submodules: true   
    
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: tewtal/webrandomizer
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Publish GameService to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: tewtal/webrandomizer-gameservice
        context: WebGameService
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}